*{
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

body{
    background-image: url("./blurry-gradient-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    justify-content: center;
}

.header{
    height: 130px;
    background: #FFB800;
    width: 100%;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-logo img{
    border-radius: 100%;
}

.navbar-logo{
    display: flex;
    padding: 10px;
    margin-top: 14px;
}

.navbar-icon{
    display: inline-block;
    font-size: 3rem;
    padding: 10px;
}

.navbar-icon i{
    color: #ffffff;
    border: #fff;
}

.navbar-text{
    margin: 20px;
    margin-top: 33px;
    padding-right: 50px;
}

.navbar-text .text{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    margin: 10px;
}


.content{
    height: 110vh;
    width: 60%;
    background: #fff;
    margin: 0 auto;
}






.footer{
    height: 130px;
    background: #000000;
    width: 100%;
}
.footer-logo img{
    border-radius: 100%;
}

.footer-logo{
    display: flex;
    font-size: 0.4rem;
    padding: 15px;
    color: #fff;
}

.footer-icon i{
    color: #fff;
}

.footer-icon{
    margin-left: 10px;
    font-size: 2rem;
}

.footer-contact{
    padding-left: 60%;
}

