*{
    padding: 0;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;

}

body{

    height: 100%;
    width: 100%;
    display: block;
}
html{
    height: 100%;
    width: 100%;
    margin: 0 0;
}


.app{
    height: min-content;
    width: 100%;
    margin: 0 auto;
    background: #8A0303;
}

.header{
    background: #FFB800;
    width: 100%;
    height:20%;
    display: block;
    position: relative;
}

.header-navbar{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.navbar-logo img{
    border-radius: 100%;
}

.navbar-logo{
    display: flex;
    height: min-content;
    padding: 30px 10px;
}

.navbar-icon{
    display: flex;
    width: 100%;
    padding-top: 10px;
    margin: 5px;
    gap: 5px;
    height: min-content;

}
.navbar-logo i{
    color: #fff;
    font-size: 250%;
}

.navbar-text{
    padding-top: 45px;
    padding-right: 5%;

}

.navbar-text .text{
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    display: inline-block;
}
h1{
    position: relative;
}
.navbar-text h1::after{
    content: '';
    position: absolute;
    background: hotpink;
    left: 0; bottom: 0;
    width: 100%; height: 4px;
    opacity: 0;
    transition: .3s;
}
.navbar-text h1:hover::after{
    opacity: 1;
    transform: translateY(8px);
}


.content{
    position: relative;
    height: min-content;
    width: 60%;
    margin: 0 auto;
    background: #EDDCEE;
}

.copywrite{
    padding: 10px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 1px;
}

.text-content h1{
    text-align: center;
}
.copywrite
.image{
    text-align: center;
}

.ads{
    padding-top: 50px;
    display: flex;
    width: 100%;
    height: 160px;
    padding: 30px 0px 50px 0px;
}

.box{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 1px;
    height: 40%;
    width: 25%;
    margin: 0 auto;
    margin: 1px;
}










.footer{
    background: #3F4451;
    height: 200px;
    width: 100%;
    display: flex;

}

.footer-content{
    display: flex;
    width: 100%;
    height: 100%;
}

.footer img{
    margin-top: 10px;
    margin-left: 25px;
    border-radius: 100%;
}

.footer-icon i{
    color: white;
    font-size: 200%;
    margin: 2px;
}

.footer-social{
    display: block;
    width: 120px;
}

.footer-icon{
    margin: 10px;
    display: flex;
    font-size: 15px;
}


.footer-contact{
    color: white;
    margin-left: 60%;
    padding: 20px;
}

.footer-sub{
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-sub input{
    height: 30px;
    width: 250px;
}
button{
    cursor: pointer;
    border: 0;
    background: #f09bab2f;
    padding: 13px 22px;
    border-radius: 6px;
    font: 600 22px;
    box-shadow: 0 6px 0 #ff0030;
    transition: .3s;
}
button:active{
    transform: translateY(5px);
    box-shadow: 0 3px 0 #ff0020;
}
